h1{
    display: flex;
    justify-content: space-between ;
    background-color:rgb(255, 251, 0);
    color: rgb(255, 30, 30);
    text-align: center;
    padding: 3px;
    font-size: 35px;
    font-weight: 400;
}

body {
    margin: 0px;
    background-color: rgb(255, 197, 197);
}

h2{
    background-color:rgb(0, 0, 0);
    color: rgb(232, 118, 255);
    text-align: center;
}

.origami{
    border-radius: 20px;
    background-color: #6cbdff;
    margin-left: 50px;
    margin-bottom: 50px;
    padding: 10px;
    width: 400px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 10px;
    padding: 10px;
}

.grid img{
    border: 2px 
    solid #000000;
    border-radius: 30px;
}


p{
    font-family: 'Lucida Sans';
}

